[submodule "bin/data/vscode/extensions/elmer-sif-vscode"]
	path = bin/data/vscode/extensions/elmer-sif-vscode
	url = https://github.com/wallytutor/elmer-sif-vscode.git

[submodule "bin/pkgs/AuChimiste.jl"]
	path = bin/pkgs/AuChimiste.jl
	url = https://github.com/wallytutor/AuChimiste.jl.git

[submodule "bin/pkgs/WallyToolbox.jl"]
	path = bin/pkgs/WallyToolbox.jl
	url = https://github.com/wallytutor/WallyToolbox.jl.git
