# Jupyter and Quarto
jupyterlab
jupytext
nbconvert
jupyter-cache
ghp-import
pyyaml

# Web scraping and database
beautifulsoup4
tinydb

# General purpose dependencies
python-dotenv
exifread
folium

# Scientific dependencies
cantera
casadi
hyperspy
matplotlib
numba
numpy
opencv-python
pandas
polars[all]
scikit-image
scikit-learn
scipy
sympy

# Mesh and simulation tools
foamlib
gmsh
pyvista[colormaps]
meshio[all]
